# === PRIVATE SETTINGS ===
old/my_private_settings.py

# === DOCUMENTATION & PERSONAL NOTES & CONFIGS===
Instructions_*.txt
config.json

# === LEGACY & TEST FILES ===
old/
test/
old/bs_main.py
bs_public.py
old/bs_test.py


# === BUILD FILES (PyInstaller) ===
.tools/
build/
dist/
*.spec
*.exe
native/**/bin/
native/**/obj/

# === SYSTEM & PYTHON CACHE ===
__pycache__/
*.pyc
.venv/

Dump
