# === PRIVATE SETTINGS ===
old/my_private_settings.py

# === HEAVY DEPENDENCIES (Do not push!) ===
Tesseract-OCR/

# === DOCUMENTATION & PERSONAL NOTES ===
Instructions_*.txt

# === LEGACY & TEST FILES ===
media/
old/
test/
old/bs_main.py
#bs_public.py
old/bs_test.py

# === BUILD FILES (PyInstaller) ===
build/
dist/
*.spec
*.exe

# === SYSTEM & PYTHON CACHE ===
__pycache__/
*.pyc
.venv/